certifi==2022.12.7
cffi==1.11.5
mkl-fft==1.0.6
mkl-random==1.0.2
numpy==1.15.0
olefile==0.46
pandas==0.23.4
Pillow==6.2.2
pycparser==2.19
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
torch==0.4.1.post2
torchvision==0.2.1
tqdm==4.28.1
